<div id="<%= dom_id school_accessory %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= school_accessory.manufacturer %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= school_accessory.type %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= school_accessory.color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= school_accessory.price %>
  </p>

</div>
