<p style="color: green"><%= notice %></p>

<%= render @congratulations_card %>

<div>
  <%= link_to "Edit this congratulations card", edit_congratulations_card_path(@congratulations_card) %> |
  <%= link_to "Back to congratulations cards", congratulations_cards_path %>

  <%= button_to "Destroy this congratulations card", @congratulations_card, method: :delete %>
</div>
