<p style="color: green"><%= notice %></p>

<%= render @gift_card %>

<div>
  <%= link_to "Edit this gift card", edit_gift_card_path(@gift_card) %> |
  <%= link_to "Back to gift cards", gift_cards_path %>

  <%= button_to "Destroy this gift card", @gift_card, method: :delete %>
</div>
