<div id="<%= dom_id writing_accessory %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= writing_accessory.manufacturer %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= writing_accessory.type %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= writing_accessory.color %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= writing_accessory.price %>
  </p>

</div>
