<div id="<%= dom_id music %>">
  <p>
    <strong>Albumname:</strong>
    <%= music.albumName %>
  </p>

  <p>
    <strong>Performer:</strong>
    <%= music.performer %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= music.genre %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= music.price %>
  </p>

</div>
